@import "tailwindcss";

:root {
  --background: #18181b;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-hanken-grotesk);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-hanken-grotesk), sans-serif;
}
